.main{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
  }
  .inner div {
    animation: inner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .inner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #2c3644;
    margin: -4px 0 0 -4px;
  }
  .inner div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .inner div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .inner div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .inner div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .inner div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .inner div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .inner div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .inner div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .inner div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .inner div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .inner div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .inner div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .inner div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .inner div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .inner div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .inner div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes inner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }