.main{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2C3644;
    height: 60px;
    justify-content: space-between;
    width: 100vw;
    padding: 0 19px;
    z-index: 2;
}

.logo_s{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
}

.logo_s *{
    cursor: pointer;
}

.right_s{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    z-index: 15;
}

.right_s > *{
    margin-left: 2vw;
    cursor: pointer;
}


.search{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    position: relative;
    border-radius: 5px;
    border: 1px solid #46505f;
    padding: 3px 8px;
    box-sizing: border-box;
    width: 200px;
    transition: width .2s ease,box-shadow .2s linear;
    box-shadow: 0 0 0 transparent;
    background-color: #46505f;
    color:white;
}

.search_i{
    position: absolute;
    top:0;
    left:15%;
    width: 85%;
    height: 100%;
    border: 1px solid #46505f;
    background-color: #46505f;
    color: white;
}

.search_i:focus{
    outline: none;
}

.search:focus-within{
    width: 400px !important;
}
.search:focus-within .search_i{
    left: 9%;
}

.notebell{
    position: relative;
    margin-top:4px;
}

.newnote{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 9px;
    height: 9px;
    background-color: crimson;
    border-radius: 100%;
}

.profile_img{
    position: relative;
}

.profile_info{
    display: none;
    position: absolute;
    right: -56px;
    height: auto;
    width: 140px;
    text-align:center;
    top:50px;
    flex-direction: column;
    padding: 9px;
    border-radius: 8px;
    background-color: #46505f;
    color: white;
    text-transform: capitalize;
    z-index: 2;
}

.profile_info::after{
    display: none;
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #46505f;
    top: -30px;
    right: 50%;
    transform:translateX(50%);
}

.profile_img:hover .profile_info{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}

.profile_img:hover .profile_info::after{
    display: block;
}

/* SLIDING MENU STYLING */
.sliding_menu{
    position: fixed;
    direction: rtl;
    top:0;
    width: 180px;
    overflow: hidden;
    height: 100vh;
    background-color: #2C3644;
    z-index: 9;
    padding-top: 50px;
    transition: .4s;
}

.toggler{
    position: fixed;
    padding: 0 5px;
    top:5px;
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    direction: rtl;
    z-index: 8;
    cursor: pointer;
    transition: .4s;
}


.element{
    padding: 8px 8px 20px 30px;
    direction: ltr;
    font-size: .8rem;
    text-align: left;
    color: #fabb11;
    font-weight: bold;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.element[data-type='logout']{
    color: white;
}

.element:hover{
    color: white;
}

.element a{
    margin-left:6px;
}