.main{
    position: relative;
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    padding-top: 30px;
    overflow-y: scroll;
    z-index: 1;
}

.main::-webkit-scrollbar {
    width: 14px;
    cursor: pointer !important;
}
.main::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 4px solid transparent;
	border-radius: 7px;
    box-shadow: inset 0 0 0 10px;
    color: #2C3644;
    cursor: pointer !important;
}
.main::-webkit-scrollbar-button {
	width: 0;
	height: 0;
    display: none;
}
.main::-webkit-scrollbar-corner {
	background-color: transparent;
}
.main::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
    color: #46505f;
}