.main{
    position: absolute;
    right: -18px;
    height: auto;
    width: 230px;
    top:50px;
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
    flex-direction: column;
    padding: 9px;
    border-radius: 8px;
    background-color: #46505f;
    color: white;
    z-index: 2;
}

.main::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #46505f;
    top: -30px;
    right: 18px;
}

.innerMain{
    max-height: 50vh;
    overflow-y:auto !important;
    padding-right:9px;
}

.single{
    position: relative;
    height: auto;
    margin: 9px 0;
    padding-top:14px;
    padding-right:9px;
    line-height: 20px;
    font-size: 11px;
}

.date{
    position: absolute !important;
    top:2px;
    right: 2px;
    color: orange;
    z-index: 9;
}

.single:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left:0;
    top:106%;
    background-color: orange;
}

.innerMain::-webkit-scrollbar {
    width: 14px;
    cursor: pointer !important;
}
.innerMain::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 4px solid transparent;
	border-radius: 7px;
    box-shadow: inset 0 0 0 10px;
    color: white;
    cursor: pointer !important;
}
.innerMain::-webkit-scrollbar-button {
	width: 0;
	height: 0;
    display: none;
}
.innerMain::-webkit-scrollbar-corner {
	background-color: transparent;
}
.innerMain::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
    color: rgb(204, 204, 204);
}
